In [1]:
library(XML)
library(methods)

In [5]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
url = 'http://www.w3schools.com/xml/plant_catalog.xml'
download.file(url, destfile = 'Du_lieu_new/plant_catalog.xml')

In [4]:
df = xmlToDataFrame('Du_lieu_new/plant_catalog.xml')
head(df)

  COMMON              BOTANICAL              ZONE LIGHT        PRICE
1 Bloodroot           Sanguinaria canadensis 4    Mostly Shady $2.44
2 Columbine           Aquilegia canadensis   3    Mostly Shady $9.37
3 Marsh Marigold      Caltha palustris       4    Mostly Sunny $6.81
4 Cowslip             Caltha palustris       4    Mostly Shady $9.90
5 Dutchman's-Breeches Dicentra cucullaria    3    Mostly Shady $6.44
6 Ginger, Wild        Asarum canadense       3    Mostly Shady $9.03
  AVAILABILITY
1 031599
2 030699
3 051799
4 030699
5 012099
6 041899

In [7]:
subset(df, ZONE == 'Annual' & LIGHT == 'Sunny')

   COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
23 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
26 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099

In [8]:
df[df$ZONE == 'Annual' & df$LIGHT == 'Sunny',]

   COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
23 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
26 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099

In [9]:
filter(df, ZONE == 'Annual' & LIGHT == 'Sunny')

  COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
1 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
2 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099

In [10]:
df[which(df$ZONE == 'Annual' & df$LIGHT == 'Sunny'),]

   COMMON           BOTANICAL          ZONE   LIGHT PRICE AVAILABILITY
23 Black-Eyed Susan Rudbeckia hirta    Annual Sunny $9.80 061899
26 Butterfly Weed   Asclepias tuberosa Annual Sunny $2.78 063099