In [1]:
library('httr')
library('jsonlite')

In [11]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()

In [2]:
orange = fromJSON('Chapter10/Du_lieu/orange.json')

In [5]:
class(orange)

[1] "list"

In [6]:
orange = data.frame(orange)

In [8]:
head(orange)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [15]:
arrange(orange[orange$age == max(orange$age) | orange$age == min(orange$age),], age)

   Tree age  circumference
1  1     118  30
2  2     118  33
3  3     118  30
4  4     118  32
5  5     118  30
6  1    1582 145
7  2    1582 203
8  3    1582 140
9  4    1582 214
10 5    1582 177

In [13]:
arrange(subset(orange, age == max(orange$age) | age == min(orange$age)), age)

   Tree age  circumference
1  1     118  30
2  2     118  33
3  3     118  30
4  4     118  32
5  5     118  30
6  1    1582 145
7  2    1582 203
8  3    1582 140
9  4    1582 214
10 5    1582 177

In [17]:
filter(orange, age == max(orange$age) | age == min(orange$age))

   Tree age  circumference
1  1     118  30
2  1    1582 145
3  2     118  33
4  2    1582 203
5  3     118  30
6  3    1582 140
7  4     118  32
8  4    1582 214
9  5     118  30
10 5    1582 177

In [16]:
filter(orange, age>1000 & circumference > 100)

   Tree age  circumference
1  1    1004 115
2  1    1231 120
3  1    1372 142
4  1    1582 145
5  2    1004 156
6  2    1231 172
7  2    1372 203
8  2    1582 203
9  3    1004 108
10 3    1231 115
11 3    1372 139
12 3    1582 140
13 4    1004 167
14 4    1231 179
15 4    1372 209
16 4    1582 214
17 5    1004 125
18 5    1231 142
19 5    1372 174
20 5    1582 177